* {
  background-color: #F1F2F6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.margin-x {
  margin-left: $margin;
  margin-right: $margin;
}

.titre-center {
  text-align: center;
}

.m-t-lg {
  margin-top: $moyen;
}

.w-75 {
  width: 75%;
}

.w-20 {
  width: 20%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


